body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

.wrapper {
    margin: 0 auto;
    background-color: #ffffff;
    width: 1200px;
}

/* .main-header {
    margin-bottom: 75px;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0); 
}

a {
    text-decoration: none;
    color: #000000;
}

.logo-sedona {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-sedona img {
    margin: 0;
    padding: 0;
    display: block;
}

.main-navigation {
    font-size: 14px;
    position: relative;
}

.site-navigation {
    margin: 0 auto;
    padding: 0;
    width: 1056px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.site-navigation a {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 15px;
    display: block;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    opacity: 0.3;
}

.background-link {
    display: block;
    position: relative;
}

.background-link::after {
    content: "";
    width: 1200px;
    height: 59px;
    background-image: url(../img/intro-mask.svg);
    display: block;
    position: absolute;
    bottom: 0;
}

.background-link::before {
    content: "";
    width: 459px;
    height: 353px;
    background-image: url(../img/intro-welcome.svg);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.background-link img {
    display: block;
    margin: 0;
    padding: 0;
    
}

.container-description-item {
    font-size: 14px;
    font-weight: 400;
    color: #333333; 
}

.features-list,
.feature-other {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list {
    line-height:  21px;
    background-color: #eeeeee;
}

.features-list p {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.feature-long {
    color: #ffffff;
    background-color: #81b3d2;
}

 .feature-long p:not(.feature-description-item) {
    color: #ffffff;
}  

.feature-other {
    color: #000000;
    background-color: #ffffff;
}



.heading-form {
    color: #000000; 
    font-size: 30px;
    line-height:  36px; 
    font-weight: bold; 
}


.client-menu-option {
    color: #333333; 
    font-size: 14px;
    line-height:  24px; 
    font-weight: 400; 
}

.form-client-menu label{
    font-size: 14px;
    line-height: 26px;
}

 .form-client-menu:nth-child (legend)
 {
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
 }

 .search {
    color: #ffffff;
    background-color: #766357; 
    }

.search:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search:active {
    color: #ffffff;
    opacity: 0.3;
    background-color: #503e33;
}

 .find {
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2; 
}

.find:hover {
    color: #81b3d2;
}

.find:focus {
    color: #669ec0;
}

.find:active {
    color: #5496bd;
    opacity: 0.3;
}

.catalog-hotel, 
.index-filters ul,
.sorting ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.index-filters {
    color: #ffffff;
    background-color: #81b3d2;
}

.index-filters fieldset,
.sorting fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
}

.filter ul, 
.filter-prise {
    font-size: 14px;
    line-height: 21px;
}

.sorting-title,
.sorting-form li 
 {
    font-size: 12px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
}

.sorting-form li:first-child {
    color: #81b3d2;
    opacity: 1;
}
  
.catalog-item-title  {
    font-size: 21px;
    line-height: 26px;
    color: black;
}
 
.catalog-item table
 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.catalog-item div
{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
}

.catalog-item button {
    font-size: 14px;
    line-height:  21px;
    color: #ffffff;
    background-color: #5496bd; 
 }

.button:hover {
    color: #81b3d2;
}

.button:focus {
    color: #669ec0;
}

.button:active {
    color: #5496bd;
    opacity: 0.3;
}

 .main-footer {
    margin: 0 auto;
    padding: 0;
    font-size: 21px;
    line-height:  26px;
    width: 1056px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    }

.footer-link {
    margin: 0;
    padding-top: 47px;
    padding-bottom: 47px;
    display: block;
}

.footer-social {
    width: 152px;
    
    text-align: center;
  }

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 152px;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 37px;
    
    list-style: none;
  }

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
  
    background-color: #81b3d2;
  }

.footer-social a:hover {
    color: #81b3d2;
}

.footer-social a:focus {
    color: #669ec0;
}

.footer-social a:active {
    color: #5496bd;
    opacity: 0.3;
}

/*.footer-copyright {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    display: block;
}*/

.footer-copyright {
    width: 198px;
    margin: 0;
    font-size: 14px;
    line-height:  26px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .footer-copyright .copyright-link {
    display: flex;
    margin-right: 0;
  }

  .footer-copyright b {
    display: flex;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 8px;
  }

.copyright-link {
    list-style: none;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 8px;
    
}

.copyright-link a:hover {
    color: #000000;
}

.copyright-link a:focus {
    color: #669ec0;
}

.copyright-link a:active {
    color: #000000;
    opacity: 0.3;
}




