body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0); 
}

a {
    text-decoration: none;
    color: #000000;
}

.main-navigation {
    font-size: 14px;
}

.site-navigation {
    list-style: none;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    opacity: 0.3;
}

.container-description-item {
    font-size: 14px;
    font-weight: 400;
    color: #333333; 
}

.features-list,
.feature-other {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list {
    line-height:  21px;
    background-color: #eeeeee;
}

.features-list p {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.feature-long {
    color: #ffffff;
    background-color: #81b3d2;
}

 .feature-long p:not(.feature-description-item) {
    color: #ffffff;
}  

.feature-other {
    color: #000000;
    background-color: #ffffff;
}



.heading-form {
    color: #000000; 
    font-size: 30px;
    line-height:  36px; 
    font-weight: bold; 
}


.client-menu-option {
    color: #333333; 
    font-size: 14px;
    line-height:  24px; 
    font-weight: 400; 
}

.form-client-menu label{
    font-size: 14px;
    line-height: 26px;
}

 .form-client-menu:nth-child (legend)
 {
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
 }

 .search {
    color: #ffffff;
    background-color: #766357; 
    }

.search:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search:active {
    color: #ffffff;
    opacity: 0.3;
    background-color: #503e33;
}

 .find {
    font-size: 21px;
    line-height:  26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2; 
}

.find:hover {
    color: #81b3d2;
}

.find:focus {
    color: #669ec0;
}

.find:active {
    color: #5496bd;
    opacity: 0.3;
}

.catalog-hotel, 
.index-filters ul,
.sorting ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.index-filters {
    color: #ffffff;
    background-color: #81b3d2;
}

.index-filters fieldset,
.sorting fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
}

.filter ul, 
.filter-prise {
    font-size: 14px;
    line-height: 21px;
}

.sorting-title,
.sorting-form li 
 {
    font-size: 12px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
}

.sorting-form li:first-child {
    color: #81b3d2;
    opacity: 1;
}
  
.catalog-item-title  {
    font-size: 21px;
    line-height: 26px;
    color: black;
}
 
.catalog-item table
 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.catalog-item div
{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
}

.catalog-item button {
    font-size: 14px;
    line-height:  21px;
    color: #ffffff;
    background-color: #5496bd; 
 }

.button:hover {
    color: #81b3d2;
}

.button:focus {
    color: #669ec0;
}

.button:active {
    color: #5496bd;
    opacity: 0.3;
}

 .main-footer {
    font-size: 21px;
    line-height:  26px;
}

.footer-social {
    list-style: none;
}

.footer-social a:hover {
    color: #81b3d2;
}

.footer-social a:focus {
    color: #669ec0;
}

.footer-social a:active {
    color: #5496bd;
    opacity: 0.3;
}

.copyright-link {
    list-style: none;
}

.copyright-link a:hover {
    color: #000000;
}

.copyright-link a:focus {
    color: #669ec0;
}

.copyright-link a:active {
    color: #000000;
    opacity: 0.3;
}




